<!-- linear_actuator.launch -->
<launch>
    <!-- Load the URDF into the ROS Parameter Server -->
    <param name="robot_description" 
           command="$(find xacro)/xacro '$(find linear_actuator_description)/urdf/linear_actuator.urdf'" />

    <!-- Launch Gazebo with an empty world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="debug" value="false"/>
    </include>

    <!-- Spawn the robot -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
          args="-param robot_description -urdf -model linear_actuator" />

    <!-- Load the joint trajectory controller -->
    <rosparam command="load"
              file="$(find linear_actuator_control)/config/linear_actuator_control.yaml" />

    <!-- Launch the controller -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" 
          respawn="false" output="screen" 
          args="joint_state_controller
                slider_joint_position_controller"/>

    <!-- Convert joint states to TF transforms -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" 
          type="robot_state_publisher" respawn="false" output="screen">
        <param name="publish_frequency" type="double" value="50.0" />
    </node>
</launch>