<?xml version="1.0"?>
<robot name="whac-a-mole">
    <link name="world" />

    <joint name="world_joint"  type="fixed">
        <origin xyz="2 0 1.5" rpy="0 0 0" />
        <parent link="world"/>
        <child link="base"/>
    </joint>

    <link name="base">
        <visual>
            <geometry>
                <mesh filename="package://whac-a-mole_description/meshes/Base.stl"/>
            </geometry>
            <material name="gray">
                <color rgba="0.5 0.5 0.5 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://whac-a-mole_description/meshes/Base.stl"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="1.0"/>
            <inertia ixx="0.001" ixy="0.0" ixz="0.0" 
                     iyy="0.001" iyz="0.0" 
                     izz="0.001"/>
        </inertial>
    </link>

    <!-- Linear Actuator 1 -->
    <link name="linear_actuator_1">
        <visual>
            <geometry>
                <mesh filename="package://whac-a-mole_description/meshes/Linear Actuator.stl"/>
            </geometry>
            <material name="blue">
                <color rgba="0.0 0.0 1.0 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://whac-a-mole_description/meshes/Linear Actuator.stl"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.5"/>
            <inertia ixx="0.0005" ixy="0.0" ixz="0.0" 
                     iyy="0.0005" iyz="0.0" 
                     izz="0.0005"/>
        </inertial>
    </link>

    <joint name="base_to_linear_actuator_1" type="fixed">
        <parent link="base"/>
        <child link="linear_actuator_1"/>
        <origin xyz="0.1 0 0" rpy="0 0 0"/>
    </joint>

    <!-- Linear Actuator 2 -->
    <link name="linear_actuator_2">
        <visual>
            <geometry>
                <mesh filename="package://whac-a-mole_description/meshes/Linear Actuator.stl"/>
            </geometry>
            <material name="blue">
                <color rgba="0.0 0.0 1.0 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://whac-a-mole_description/meshes/Linear Actuator.stl"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.5"/>
            <inertia ixx="0.0005" ixy="0.0" ixz="0.0" 
                     iyy="0.0005" iyz="0.0" 
                     izz="0.0005"/>
        </inertial>
    </link>

    <joint name="base_to_linear_actuator_2" type="fixed">
        <parent link="base"/>
        <child link="linear_actuator_2"/>
        <origin xyz="15 0 0" rpy="0 0 0"/>
    </joint>

    <!-- Linear Actuator 3 -->
    <link name="linear_actuator_3">
        <visual>
            <geometry>
                <mesh filename="package://whac-a-mole_description/meshes/Linear Actuator.stl"/>
            </geometry>
            <material name="blue">
                <color rgba="0.0 0.0 1.0 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://whac-a-mole_description/meshes/Linear Actuator.stl"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.5"/>
            <inertia ixx="0.0005" ixy="0.0" ixz="0.0" 
                     iyy="0.0005" iyz="0.0" 
                     izz="0.0005"/>
        </inertial>
    </link>

    <joint name="base_to_linear_actuator_3" type="fixed">
        <parent link="base"/>
        <child link="linear_actuator_3"/>
        <origin xyz="30 0 0" rpy="0 0 0"/>
    </joint>

    <!-- Linear Actuator 4 -->
    <link name="linear_actuator_4">
        <visual>
            <geometry>
                <mesh filename="package://whac-a-mole_description/meshes/Linear Actuator.stl"/>
            </geometry>
            <material name="blue">
                <color rgba="0.0 0.0 1.0 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://whac-a-mole_description/meshes/Linear Actuator.stl"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.5"/>
            <inertia ixx="0.0005" ixy="0.0" ixz="0.0" 
                     iyy="0.0005" iyz="0.0" 
                     izz="0.0005"/>
        </inertial>
    </link>

    <joint name="base_to_linear_actuator_4" type="fixed">
        <parent link="base"/>
        <child link="linear_actuator_4"/>
        <origin xyz="45 0 0" rpy="0 0 0"/>
    </joint>
</robot>